*.csv text eol=lf
*.ipynb text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.yml text eol=lf

*.h5 binary
*.gif binary
*.jpg binary
*.png binary
*.webp binary
*.tar.gz binary
